body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    background-color: cadetblue;
    width: 1000px;
    height: 300px;
    display:flex ;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}